__pycache__/
*.pyc
*.pyd
*.pyo
.Python/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Caches
.pytest_cache/
.tox/
.mypy_cache/
.vscode/ # Pour les fichiers de configuration de VS Code si vous n'avez pas besoin de les partager
.idea/ # Pour les fichiers de configuration de PyCharm/IntelliJ

# Databases
*.sqlite3
*.db-journal

# Environnement virtuel (si vous en utilisez un localement, hors Docker)
venv/
env/
.env

# Logs
*.log
celerybeat.pid

# Docker
.dockerignore # Non, ne pas ignorer .dockerignore lui-même, mais les fichiers qu'il ignore pourraient être listés ici aussi.
docker-compose.override.yml # Si vous utilisez un override local que vous ne voulez pas committer

# Fichiers statiques collectés par Django
staticfiles/ # Le dossier STATIC_ROOT où collectstatic met les fichiers

# Répertoire de médias téléchargés par les utilisateurs (si configuré)
media/